<head>
    <meta charset="utf-8">
    <title>
        musicMate
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="${require('../images/favicon.png')}">
    <!-- Search Engine -->
    <meta name="description" content="${require('../strings.js').description}">
    <meta name="image" content="${require('../images/musicMate-promo.jpg')}">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="musicMate">
    <meta itemprop="description" content="${require('../strings.js').description}">
    <meta itemprop="image" content="${require('../images/musicMate-promo.jpg')}">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="musicMate">
    <meta name="og:description" content="${require('../strings.js').description}">
    <meta name="og:type" content="website">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124804124-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-124804124-1');
    </script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css" integrity="sha384-VGP9aw4WtGH/uPAOseYxZ+Vz/vaTb1ehm1bwx92Fm8dTrE+3boLfF1SpAtB1z7HW"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/brands.css" integrity="sha384-rf1bqOAj3+pw6NqYrtaE1/4Se2NBwkIfeYbsFdtiR6TQz0acWiwJbv1IM/Nt/ite"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css" integrity="sha384-1rquJLNOM3ijoueaaeS5m+McXPJCGdr5HcA03/VHXxcp2kX2sUrQDmFc3jR5i/C7"
        crossorigin="anonymous">
</head>