.button {
  cursor: pointer;
  &--std {
    font-size: 0.75rem;
    padding: 0.35rem 0.95rem;
    text-transform: lowercase;
  }
  &--lrg {
    line-height: 1;
    padding: 11px 32px 9px;
  }
}
.input {
  transition: all 0.3s ease 0s;
  background: $white;
  border: 1px solid $gray;
  outline: none;

  &:hover {
    border: 1px solid $blue;
    opacity: 0.7;
  }
}
