$default-text-color: #111;
$std-border-radius: 4px;

/* COLORS */
$white: #fff;
$black: #000;
$gray: #c9c9c9;
$light-gray: #f5f5f5;
$blue: #0288d1;
$green: #1db954;
$light-green: #1ed760;
$red: #d32f2f;
